@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
:root {
  --text: rgb(0, 0, 0);
  --background: rgb(252, 253, 253);
  --primary: rgb(77, 79, 153);
  --secondary: rgb(229, 216, 204);
  --accent: rgb(104, 126, 78);
  --rgba-text: 0, 0, 0;
  --rgba-background: 252, 253, 253;
  --rgba-primary: 77, 79, 153;
  --rgba-secondary: 229, 216, 204;
  --rgba-accent: 104, 126, 78;
}
::selection {
  background: var(--accent);
  color: var(--background);
}
body,
html {
  background: var(--secondary);
  color: var(--text);
  font-family: "Montserrat", "Helvetica Neue";
}
hr {
  border: var(--text) 2px solid;
  opacity: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", "Courier New", monospace !important;
  font-weight: bolder !important;
}
.form-control {
  border: var(--text) 2px solid;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--background);
}
.container {
  border: var(--text) 3px solid;
}
/* BUTTONS */
.btn {
  font-weight: bolder !important;
  color: var(--text);
  border: var(--text) 3px solid;
}
.btn:hover {
  color: var(--background) !important;
  border: var(--text) 3px solid !important;
}
.btn svg path {
  fill: var(--background);
}
.btn-dark {
  color: var(--background) !important;
  background: var(--text) !important;
}
.btn-dark:hover {
  background: rgba(var(--rgba-text), 0.8) !important;
}
.btn-primary {
  background: var(--primary) !important;
  color: var(--background) !important;
}
.btn-primary:hover {
  background: rgba(var(--rgba-primary), 0.8) !important;
}
.btn-primary svg path {
  fill: var(--background);
}
.btn-secondary {
  background: var(--secondary) !important;
}
.btn-secondary:hover {
  background: rgba(var(--rgba-secondary), 0.8) !important;
}
.btn-accent {
  background: var(--accent) !important;
  color: var(--background) !important;
}
.btn-accent:hover {
  background: rgba(var(--rgba-accent), 0.8) !important;
}

/* END BUTTONS */

/* BACKGROUNDS */
.bg-light {
  background: var(--background) !important;
}
.bg-primary {
  background: var(--primary) !important;
  color: var(--background);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-accent {
  background: var(--accent);
}
.bg-dark {
  background: var(--text) !important;
  color: var(--background);
  border-color: var(--primary);
}
/* END BACKGROUNDS */

/* TEXT BEGINS */

.text-light {
  color: var(--background) !important;
}
.text-light svg path {
  fill: var(--background) !important;
}
.text-dark {
  color: var(--text) !important;
}
.text-dark svg path {
  fill: var(--text) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-primary svg path {
  fill: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-secondary svg path {
  fill: var(--secondary) !important;
}
.text-accent {
  color: var(--accent) !important;
}
.text-accent svg path {
  fill: var(--accent) !important;
}

/* TEXT ENDS */

/* ICONS SYSTEM */
.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}
/* END ICONS SYSTEM */
